@model DeliveryApp.Models.Product

@{
    ViewData["Title"] = "AppAdmin - Adicionar Imagem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="input-group">
    <form method="post" enctype="multipart/form-data" asp-action="Import">

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" readonly id="Name" />

            <div class="invalid-feedback">
                Digite o nome do produto
            </div>

            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            <label asp-for="Details" class="control-label"></label>
            <input asp-for="Details" class="form-control" readonly id="Details" />

            <div class="invalid-feedback">
                Digite os detalhes do produto
            </div>

            @Html.ValidationMessageFor(x => x.Details)
        </div>


        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" readonly id="Price" />
            <div class="invalid-feedback">
                Requisitos: <br />
                <ul>
                    <li>Valor maior que 0</li>
                    <li>Valor não pode ser em branco</li>
                    <li>Valor numérico</li>
                </ul>

            </div>
            @Html.ValidationMessageFor(x => x.Price)
        </div>


        <input type="file" class="form-control form-control-sm" name="arquivos" id="img-input" accept="image/*">

        <picture>
            <img src="..." class="img-fluid img-thumbnail" id="preview"alt="...">
        </picture>

        <button class="btn btn-outline-secondary" type="submit" asp-action="Import">Importar Imagem</button>

        


        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
                @TempData["MensagemErro"]
            </div>
        }

    </form>
</div>
